.wrapper {
  display: flex;
  justify-content: space-between;
}

.leftContainer {
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    list-style-position: outside;
  }
}

.rightContainer {
  display: flex;
  padding: 8px;
  flex-direction: column;
  gap: 12px;
  justify-content: center;

  li {
    display: flex;
    list-style-type: none;
    align-items: center;
    line-height: 2;
    white-space: nowrap;
    gap: 8px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
