.company {
  display: flex;
  flex-direction: column;
  gap: 0;
  .companyHeader {
    display: flex;
    gap: 8px;
    font-weight: bold;
    font-size: 14px;
    align-items: flex-end;

    h3 {
      margin: 0;
    }
  }

  .subTitle {
    font-size: 12px;
    color: #646464;
    margin-bottom: 20px;
  }
}
