.container {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 800px;
  padding: 28px 40px;

  h1 {
    font-size: 32px;
    font-weight: bold;
  }

  h3 {
    font-size: 20px;
  }
}

.title {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
