.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  display: flex;
  gap: 24px;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 200px;
  color: #646464;

  hr {
    padding: 0;
    margin: 2px 0;
    background-color: #646464;
  }

  .skillName {
    font-weight: 600;
  }

  .skill {
    font-size: 14px;

    > span {
      margin-right: 8px;
      white-space: nowrap;
    }
  }
}

.rightContainer {
  display: flex;
  padding: 8px;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  max-width: 700px;

  > h3 {
    margin: 0;
  }

  .careerTitle {
    list-style-position: outside;
    list-style-type: disc;
    line-height: 2;
    white-space: pre-wrap;

    > li {
      font-weight: 600;
    }

    .careerItem {
      list-style-position: outside;
      list-style-type: circle;
    }
  }
}
